.Contact{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
}

@media screen and (max-width:  1000px){
    .Contact{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }
}

@media screen and (max-width:  600px){
    .Contact{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
    }
}