h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.FormContainer {
   
  /* height: 750px;; */
  border-radius: 15px;
  background-image: linear-gradient(
    to left top,
    #0066ff,
    #006aec,
    #006bd8,
    #006ac1,
    #0068aa
  );
}

.BtnContainer {
  display: flex;
  column-gap: 55px;
  margin-bottom: 3%;
}

.Submit {
  height: 80px;
  width: 150px;
}
.Cancel {
  height: 80px;
  width: 150px;
  border-radius: 5px;
}
