h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.FormContainer {
  border-radius: 15px;
  background-image: linear-gradient(
    to left top,
    #0066ff,
    #006aec,
    #006bd8,
    #006ac1,
    #0068aa
  );
}
